.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  opacity: 0.95;
  background-color: #fff;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  z-index: 999;
}
.logo {
  font-weight: 700;
  font-size: 24px;
}
.logo a {
  color: #000;
}
.logo span {
  display: block;
  margin-top: 2px;
  font-weight: 900;
}
.nav {
  display: flex;
  font-size: 15px;
  font-weight: bold;
}
.nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 75px;
  text-align: center;
  cursor: pointer;
}
.nav li:hover {
  background-color: #eaeaea;
}
.nav li.active {
  background-color: var(--accent-color);
}
